:root {
  --Dark-Matcha: #5d933c;
  --Light-Matcha: #b7ba6b;
  --Dark-Purple: #6a5acd;
  --Light-Purple: #e7d7e9;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif TC", serif;
  /* background-color: #e7d7e9; */
}
html,
body {
  overflow: hidden; /* Prevent any scrolling */
  height: 100%;
}
a {
  color: black;
  text-decoration: none;
  display: flex;
  width: fit-content; /* 讓 a 只包住 i 的大小 */
  height: fit-content;
}

.cat {
  width: 65px;
  height: 65px;
  background-color: #000;
  border-radius: 50px;
  position: fixed;
  bottom: 90px;
  right: 10%;
  z-index: 1;
}

#envelope {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Light-Purple);
  height: 100dvh;
}
.fa-regular {
  margin-right: 10px;
  margin-left: 10px;
}
.fa-house {
  margin-right: 13px;
  margin-left: 10px;
}

.invitation {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.envelope {
  background: #8975ec;
  width: 100%;
  height: 307.6923076923px;
  position: relative;
  z-index: 1;
}
.envelope.is-open:before,
.envelope.is-open:after {
  z-index: -2;
}

.envelope:before,
.envelope:after {
  content: "";
  position: absolute;
  bottom: 0;
}

.envelope:before {
  right: 0;
  border-bottom: 0px solid transparent;
  border-top: 307.6923076923px solid transparent;
  border-right: 500px solid var(--Dark-Purple);
  z-index: 1;
}

.envelope:after {
  left: 0;
  border-bottom: 0px solid transparent;
  border-top: 307.6923076923px solid transparent;
  border-left: 500px solid var(--Dark-Purple);
  z-index: 1;
}

.flap {
  border-right: 250px solid transparent;
  border-top: 153.8461538462px solid var(--Dark-Purple);
  border-left: 250px solid transparent;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 50% 0%;
  z-index: 2;
}

.mask {
  box-sizing: border-box;
  -webkit-clip-path: inset(0 0 50% 0);
  clip-path: inset(0 0 50% 0);
  overflow: hidden;
  position: relative;
  width: 480px;
  height: 2010px;
  z-index: 0;
  margin: auto;
  top: 50%;
  transform: translate(0, -50%);
  perspective: 1200px;
}

.card {
  position: relative;
  width: 480px;
  height: 670px;
  margin: auto;
  transform-style: preserve-3d;
  transform-origin: 50% 10%;
  transform: translate(0, 128%) rotateY(0deg);
}

.face {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: transparent 50% 100% / auto 100% no-repeat;
  box-shadow: 0 3px 6x rgba(0, 0, 0, 0.3);
}
.face:last-of-type {
  transform: translateZ(-3px) rotateY(180deg);
  /* background-size: 130% auto; */
}

.front {
  background-image: radial-gradient(
    circle,
    #e7d7e9,
    #d2b4df,
    #b893d7,
    #9675d1,
    #6a5acd
  );
}
.front h1 {
  position: relative;
  color: #333333;
  padding: 50px 0 0;
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
}
.front h1 img {
  width: 90%;
  display: block;
  margin: auto;
}
.front h1 span {
  display: block;
  margin: 0 20px;
  padding: 2% 1%;
  border-bottom: 1px dashed #000;
  font-size: 22px;
}

.face.back {
  background-image: url(./photo/擷取8.jpg);
  color: #000;
  /* overflow: hidden; */
}
.face.back img {
  position: absolute;
  top: 60px;
  display: inline-block;
  width: 90%;
  left: 50%;
  transform: translate(-50%, 0);
}

button {
  font-size: 1.5em;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 30px;
  color: yellow;
  background: #5acd6a;
  border: none;
  position: absolute;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  left: 50%;
  top: 210px;
  transform: translate(-50%, -125%);
  transform-origin: 50% 50%;
  z-index: 3;
  cursor: pointer;
  transition: background 0.3s ease-out, color 0.3s ease-out;
}

/* 閃亮 */
.btn-11 {
  overflow: hidden;
}
.btn-11:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  animation: shiny-btn1 2s ease-in-out infinite;
}
.custom-btn.btn-11:hover:before {
  /* 滑鼠懸停時的邊框閃爍效果 */
  animation: none; /* 禁用動畫 */
}
@keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  61% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

/* 平板模式 */
@media (min-width: 768px) {
  .cat {
    bottom: 15px;
    right: 1.3%;
  }
  .left {
    left: calc(min(1vw, 95%));
  }
  .right {
    right: calc(min(1vw, 95%));
  }
}

/* 電腦模式 */
@media screen and (min-width: 1024px) {
  .cat {
    right: 1%;
  }
  .left {
    left: calc(min(0.9vw, 95%));
  }
  .right {
    right: calc(min(0.9vw, 95%));
  }
}

/* 電腦模式 1080px */
@media screen and (min-width: 1080px) {
  .cat {
    right: 0.6%;
  }
  .left {
    left: calc(min(0.6vw, 95%));
  }
  .right {
    right: calc(min(0.6vw, 95%));
  }
}

/* 電腦模式 2560px */
@media screen and (min-width: 2560px) {
  .cat {
    right: 0.5%;
  }
  .left {
    left: calc(min(0.5vw, 95%));
  }
  .right {
    right: calc(min(0.5vw, 95%));
  }
}
